* {
    margin: 0;
    padding: 0;
}

body {
    background-color: lightblue;
}

h1 {
    border-radius: 50px;
    font-size: 50px;
    padding: 20px;
    text-shadow: -2px 3px 2px orange;
    box-shadow: 0px 0px 10px 10px lightseagreen, 0px 0px 10px 20px orange;
    background-image: linear-gradient(to right top, skyblue, whitesmoke);
    /* -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    color: lightseagreen;
}

.weather {
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.weatherData {
    margin: 50px auto;
}

.date {
    width: fit-content;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    color: orange;
    background-color: whitesmoke;
    padding: 5px 15px;
    border-radius: 10px;
}

.time {
    margin: 10px 0px 10px 150px;
    font-size: 50px;
    color: orange;
    background-color: whitesmoke;
    padding: 5px 15px;
    border-radius: 10px;
}

.items {
    font-size: 25px;
    font-weight: 700;
    color: lightseagreen;
    background-color: whitesmoke;
    text-align: center;
    width: 250px;
    margin: 20px auto;
    padding: 10px;
    border-radius: 20px;
}